
.footer_topic{
    width: 100%;
    margin-top: 11px;
    line-height: 12px;
    font-size: 11px;
    color: #555;
}

.footer_topic h1{
    width: 98%;
    height: 27px;
    font-size: 12px;
    color: #000;
    opacity: 0.9;
    border-bottom: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}

.footer_topic h1:hover{
    opacity: 1;
}

.footer_topic h1 span{
    font-size: 15px;
    position: absolute;
    right: 12px;
    top: 0px;
    opacity: 0.8;
}

.footer_topic p{
    display: none;
    cursor: pointer;
}

.footer_topic p:hover{
    text-decoration: underline;
}


@media(min-width: 770px){
    .footer_topic{
        width: 120px;
        margin-top: 18px;
        line-height: 12px;
        font-size: 11px;
        color: #555;
    }

    .footer_topic h1{
        font-size: 11px;
        font-weight: bold;
        color: black;
        width: auto;
        height: auto;
        border-bottom: none;
    }

    .footer_topic h1 span{
        display: none;
    }

    .footer_topic p{
        display: block;
        margin-top: 8px;
    }
}

@media(min-width: 850px){
    .footer_topic{
        width: 140px;
    }
}
