.top_footer{
    width: 96%;
    margin: 0 17px;
    position: relative;
    padding-top: 5px;
}

.top_footer_list{
    width: 100%;
}

.top_footer_column{
    width: 100%;
}

@media(min-width: 770px){
    .top_footer{
        padding-top: 20px;
    }

    .top_footer_list{
        width: 94%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .top_footer_column{
        width: 140px;
    }
}

@media(min-width: 850px){
    
}

@media(min-width: 1050px){
    
    .top_footer{
        width: 980px;
        margin: 0 auto;
    }



}
