
.products_section{
  width: 100%;
  position: relative;
}

.product_container{
  width: 100%;
  height: 270px;
  border: 1px solid red;
}

@media(min-width: 750px){
  .product_container{
    width: 50%;
    display: inline-block;
  }
}

@media(min-width: 1050px){
  .product_container{
    width: 25%;
  }
}